body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007acc;
    color: white;
    text-align: center;
    padding: 20px;
}

main {
    text-align: center;
    padding: 20px;
}

.price-container {
    background-color: white;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #007acc;
    color: white;
    text-align: center;
    padding: 10px;
}
